@import "https://getbootstrap.com/docs/4.3/examples/sticky-footer/sticky-footer.css";
@import "https://bootswatch.com/4/spacelab/bootstrap.css";
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

iframe {
  margin: 1%;
}
body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.modal-header, .btn-deep-orange {
  background-color: orange;
}

#nav {
  background-color: orange;
}
a:hover {
  background-color: darkorange;
}

.pricing-header {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
}

.mb-3, .my-3 {
  margin-bottom: 0px !important;
}
